--------------------------------Reading all the files--------------------------------

In [20]:
import os
import pandas as pd
# Replace "path/to/dataset" with the actual path to your folder
dataset_path = "dataset"

# Get all filenames in the folder
filenames = os.listdir(dataset_path)

# Print each filename
for filename in filenames:
  print(filename)

carbon_emissions.csv
cost_profiles.csv
demand.csv
fuels.csv
sample_submission.csv
vehicles.csv
vehicles_fuels.csv

In [21]:
carbon_emissions_df = pd.read_csv("dataset/carbon_emissions.csv")
cost_profiles_df = pd.read_csv("dataset/cost_profiles.csv")
demand_df = pd.read_csv("dataset/demand.csv")
fuels_df = pd.read_csv("dataset/fuels.csv")
sample_submission_df = pd.read_csv("dataset/sample_submission.csv")
vehicles_df = pd.read_csv("dataset/vehicles.csv")
vehicles_fuels_df = pd.read_csv("dataset/vehicles_fuels.csv")

-------------------------------- reading the pandas tables--------------------------------

In [22]:
carbon_emissions_df.head(30)

    Year  Carbon emission CO2/kg
0   2023                11677957
1   2024                10510161
2   2025                 9459145
3   2026                 8513230
4   2027                 7661907
5   2028                 6895716
6   2029                 6206145
7   2030                 5585530
8   2031                 5026977
9   2032                 4524279
10  2033                 4071851
11  2034                 3664666
12  2035                 3298199
13  2036                 2968379
14  2037                 2671541
15  2038                 2404387

In [23]:
cost_profiles_df.head(30)

   End of Year  Resale Value %  Insurance Cost %  Maintenance Cost %
0            1              90                 5                   1
1            2              80                 6                   3
2            3              70                 7                   5
3            4              60                 8                   7
4            5              50                 9                   9
5            6              40                10                  11
6            7              30                11                  13
7            8              30                12                  15
8            9              30                13                  17
9           10              30                14                  19

In [24]:
demand_df.head(30)

    Year Size Distance  Demand (km)
0   2023   S1       D1       869181
1   2023   S1       D2      2597094
2   2023   S1       D3      3292011
3   2023   S1       D4       414315
4   2023   S2       D1       995694
5   2023   S2       D2      1383196
6   2023   S2       D3       778008
7   2023   S2       D4       133677
8   2023   S4       D1        14576
9   2023   S4       D2       754717
10  2023   S4       D3       118899
11  2023   S4       D4         1809
12  2023   S3       D1      2183475
13  2023   S3       D2      2431901
14  2023   S3       D3      1002466
15  2023   S3       D4       205426
16  2024   S1       D1       877242
17  2024   S1       D2      2716195
18  2024   S1       D3      3336604
19  2024   S1       D4       419981
20  2024   S2       D1      1043209
21  2024   S2       D2      1391987
22  2024   S2       D3       807076
23  2024   S2       D4       133712
24  2024   S4       D1        15200
25  2024   S4       D2       780979
26  2024   S4       D3       122186
27  2024   S4       D4         1893
28  2024   S3       D1      2239440
29  2024   S3       D2      2453497

In [25]:
fuels_df = fuels_df.sort_values(by='Year')
fuels_df.head(30)

,Fuel,Year,Emissions (CO2/unit_fuel),Cost ($/unit_fuel),Cost Uncertainty (±%)
0,B20,2023,3.048580,1.220845,0
32,Electricity,2023,0.000000,0.191791,0
48,HVO,2023,0.487624,1.814314,0
16,BioLNG,2023,0.378439,1.087817,0
64,LNG,2023,2.486188,1.011618,0
1,B20,2024,3.048580,1.246802,2
33,Electricity,2024,0.000000,0.184113,2
49,HVO,2024,0.487624,1.794763,2
17,BioLNG,2024,0.378439,1.081461,2
65,LNG,2024,2.486188,1.005708,2
34,Electricity,2025,0.000000,0.176742,4
50,HVO,2025,0.487624,1.775423,4
18,BioLNG,2025,0.378439,1.075143,4
2,B20,2025,3.048580,1.273310,4
66,LNG,2025,2.486188,0.999832,4
67,LNG,2026,2.486188,0.993991,6
3,B20,2026,3.048580,1.300382,6
51,HVO,2026,0.487624,1.756291,6
35,Electricity,2026,0.000000,0.169666,6
19,BioLNG,2026,0.378439,1.068861,6
4,B20,2027,3.048580,1.328030,8
52,HVO,2027,0.487624,1.737365,8
36,Electricity,2027,0.000000,0.162873,8
20,BioLNG,2027,0.378439,1.062616,8
68,LNG,2027,2.486188,0.988184,8
21,BioLNG,2028,0.378439,1.056408,10
5,B20,2028,3.048580,1.356265,10
37,Electricity,2028,0.000000,0.156352,10
69,LNG,2028,2.486188,0.982411,10
53,HVO,2028,0.487624,1.718643,10

In [26]:
sample_submission_df.head(30)

,Year,ID,Num_Vehicles,Type,Fuel,Distance_bucket,Distance_per_vehicle(km)
0,2023,BEV_S1_2023,3,Buy,NaN,NaN,0.0
1,2023,Diesel_S1_2023,36,Buy,NaN,NaN,0.0
2,2023,LNG_S1_2023,34,Buy,NaN,NaN,0.0
3,2023,BEV_S2_2023,4,Buy,NaN,NaN,0.0
4,2023,Diesel_S2_2023,15,Buy,NaN,NaN,0.0
5,2023,LNG_S2_2023,15,Buy,NaN,NaN,0.0
6,2023,BEV_S4_2023,1,Buy,NaN,NaN,0.0
7,2023,Diesel_S4_2023,6,Buy,NaN,NaN,0.0
8,2023,LNG_S4_2023,4,Buy,NaN,NaN,0.0
9,2023,BEV_S3_2023,10,Buy,NaN,NaN,0.0
10,2023,Diesel_S3_2023,36,Buy,NaN,NaN,0.0
11,2023,LNG_S3_2023,35,Buy,NaN,NaN,0.0
12,2023,BEV_S1_2023,3,Use,Electricity,D1,102000.0
13,2023,Diesel_S1_2023,3,Use,B20,D1,102000.0
14,2023,LNG_S1_2023,3,Use,LNG,D1,102000.0
15,2023,Diesel_S1_2023,13,Use,B20,D2,102000.0
16,2023,LNG_S1_2023,13,Use,BioLNG,D2,102000.0
17,2023,Diesel_S1_2023,17,Use,B20,D3,102000.0
18,2023,LNG_S1_2023,16,Use,BioLNG,D3,102000.0
19,2023,Diesel_S1_2023,3,Use,HVO,D4,102000.0
20,2023,LNG_S1_2023,2,Use,LNG,D4,102000.0
21,2023,BEV_S2_2023,4,Use,Electricity,D1,106000.0
22,2023,Diesel_S2_2023,3,Use,B20,D1,106000.0
23,2023,LNG_S2_2023,3,Use,LNG,D1,106000.0
24,2023,Diesel_S2_2023,7,Use,HVO,D2,106000.0
25,2023,LNG_S2_2023,7,Use,LNG,D2,106000.0
26,2023,Diesel_S2_2023,4,Use,HVO,D3,106000.0
27,2023,LNG_S2_2023,4,Use,BioLNG,D3,106000.0
28,2023,Diesel_S2_2023,1,Use,B20,D4,106000.0
29,2023,LNG_S2_2023,1,Use,BioLNG,D4,106000.0

In [27]:
print(vehicles_df['Year'].dtype)
vehicles_df = vehicles_df.sort_values(by='Year')

# Desired column order
new_order = ['ID', 'Vehicle', "Year" , 'Size', 'Distance' , 'Cost ($)' ,'Yearly range (km)' ]

# Reorder columns
vehicles_df = vehicles_df[new_order]

vehicles_df.head(30)

int64

                 ID Vehicle  Year Size Distance  Cost ($)  Yearly range (km)
0       BEV_S1_2023     BEV  2023   S1       D1    187000             102000
64   Diesel_S1_2023  Diesel  2023   S1       D4     85000             102000
80   Diesel_S2_2023  Diesel  2023   S2       D4    104000             106000
32      BEV_S4_2023     BEV  2023   S4       D1    395636             118000
96   Diesel_S4_2023  Diesel  2023   S4       D4    151272             118000
112  Diesel_S3_2023  Diesel  2023   S3       D4    118181              73000
128     LNG_S1_2023     LNG  2023   S1       D4    100000             102000
16      BEV_S2_2023     BEV  2023   S2       D1    272000             106000
144     LNG_S2_2023     LNG  2023   S2       D4    133000             106000
48      BEV_S3_2023     BEV  2023   S3       D1    309090              73000
160     LNG_S4_2023     LNG  2023   S4       D4    193454             118000
176     LNG_S3_2023     LNG  2023   S3       D4    151136              73000
97   Diesel_S4_2024  Diesel  2024   S4       D4    155810             118000
145     LNG_S2_2024     LNG  2024   S2       D4    136990             106000
81   Diesel_S2_2024  Diesel  2024   S2       D4    107120             106000
1       BEV_S1_2024     BEV  2024   S1       D1    177650             102000
129     LNG_S1_2024     LNG  2024   S1       D4    103000             102000
161     LNG_S4_2024     LNG  2024   S4       D4    199258             118000
17      BEV_S2_2024     BEV  2024   S2       D1    258400             106000
65   Diesel_S1_2024  Diesel  2024   S1       D4     87550             102000
177     LNG_S3_2024     LNG  2024   S3       D4    155670              73000
49      BEV_S3_2024     BEV  2024   S3       D1    293636              73000
113  Diesel_S3_2024  Diesel  2024   S3       D4    121727              73000
33      BEV_S4_2024     BEV  2024   S4       D1    375854             118000
66   Diesel_S1_2025  Diesel  2025   S1       D4     90176             102000
2       BEV_S1_2025     BEV  2025   S1       D1    168767             102000
50      BEV_S3_2025     BEV  2025   S3       D1    278954              73000
34      BEV_S4_2025     BEV  2025   S4       D1    357061             118000
82   Diesel_S2_2025  Diesel  2025   S2       D4    110333             106000
146     LNG_S2_2025     LNG  2025   S2       D4    141099             106000

In [28]:
vehicles_fuels_df.head(30)

                ID         Fuel  Consumption (unit_fuel/km)
0      BEV_S1_2023  Electricity                    0.893043
1      BEV_S1_2024  Electricity                    0.893043
2      BEV_S1_2025  Electricity                    0.893043
3      BEV_S1_2026  Electricity                    0.893043
4      BEV_S1_2027  Electricity                    0.868161
5      BEV_S1_2028  Electricity                    0.868161
6      BEV_S1_2029  Electricity                    0.868161
7      BEV_S1_2030  Electricity                    0.868161
8      BEV_S1_2031  Electricity                    0.868161
9      BEV_S1_2032  Electricity                    0.868161
10     BEV_S1_2033  Electricity                    0.868161
11     BEV_S1_2034  Electricity                    0.868161
12     BEV_S1_2035  Electricity                    0.868161
13     BEV_S1_2036  Electricity                    0.868161
14     BEV_S1_2037  Electricity                    0.868161
15     BEV_S1_2038  Electricity                    0.868161
16  Diesel_S1_2023          B20                    0.223016
17  Diesel_S1_2024          B20                    0.223016
18  Diesel_S1_2025          B20                    0.223016
19  Diesel_S1_2026          B20                    0.223016
20  Diesel_S1_2027          B20                    0.223016
21  Diesel_S1_2028          B20                    0.223016
22  Diesel_S1_2029          B20                    0.223016
23  Diesel_S1_2030          B20                    0.223016
24  Diesel_S1_2031          B20                    0.223016
25  Diesel_S1_2032          B20                    0.223016
26  Diesel_S1_2033          B20                    0.223016
27  Diesel_S1_2034          B20                    0.223016
28  Diesel_S1_2035          B20                    0.223016
29  Diesel_S1_2036          B20                    0.223016

-------------------------------- combining dataframes--------------------------------

In [29]:
# Merge DataFrames on 'ID' column, keeping all rows from vehicles_df (left join)
vehicles_df = vehicles_df.merge(vehicles_fuels_df, on='ID', how='left')
vehicles_df .tail(30)

,ID,Vehicle,Year,Size,Distance,Cost ($),Yearly range (km),Fuel,Consumption (unit_fuel/km)
290,Diesel_S3_2037,Diesel,2037,S3,D4,178760,73000,HVO,0.224082
291,LNG_S4_2037,LNG,2037,S4,D4,292617,118000,LNG,0.154278
292,LNG_S4_2037,LNG,2037,S4,D4,292617,118000,BioLNG,0.154568
293,Diesel_S1_2037,Diesel,2037,S1,D4,128570,102000,B20,0.223016
294,Diesel_S1_2037,Diesel,2037,S1,D4,128570,102000,HVO,0.223016
295,BEV_S4_2037,BEV,2037,S4,D4,276287,118000,Electricity,0.856448
296,LNG_S1_2037,LNG,2037,S1,D4,151258,102000,LNG,0.154735
297,LNG_S1_2037,LNG,2037,S1,D4,151258,102000,BioLNG,0.154381
298,Diesel_S4_2037,Diesel,2037,S4,D4,228813,118000,B20,0.219827
299,Diesel_S4_2037,Diesel,2037,S4,D4,228813,118000,HVO,0.219827
300,Diesel_S2_2038,Diesel,2038,S2,D4,162028,106000,B20,0.223852
301,Diesel_S2_2038,Diesel,2038,S2,D4,162028,106000,HVO,0.223852
302,LNG_S2_2038,LNG,2038,S2,D4,207209,106000,LNG,0.155767
303,LNG_S2_2038,LNG,2038,S2,D4,207209,106000,BioLNG,0.155039
304,LNG_S1_2038,LNG,2038,S1,D4,155796,102000,LNG,0.154735
305,LNG_S1_2038,LNG,2038,S1,D4,155796,102000,BioLNG,0.154381
306,Diesel_S3_2038,Diesel,2038,S3,D4,184123,73000,B20,0.224082
307,Diesel_S3_2038,Diesel,2038,S3,D4,184123,73000,HVO,0.224082
308,Diesel_S4_2038,Diesel,2038,S4,D4,235677,118000,B20,0.219827
309,Diesel_S4_2038,Diesel,2038,S4,D4,235677,118000,HVO,0.219827
310,Diesel_S1_2038,Diesel,2038,S1,D4,132427,102000,B20,0.223016
311,Diesel_S1_2038,Diesel,2038,S1,D4,132427,102000,HVO,0.223016
312,BEV_S3_2038,BEV,2038,S3,D4,215849,73000,Electricity,0.859516
313,BEV_S4_2038,BEV,2038,S4,D4,276287,118000,Electricity,0.856448
314,BEV_S2_2038,BEV,2038,S2,D4,189947,106000,Electricity,0.854590
315,BEV_S1_2038,BEV,2038,S1,D4,130589,102000,Electricity,0.868161
316,LNG_S4_2038,LNG,2038,S4,D4,301395,118000,LNG,0.154278
317,LNG_S4_2038,LNG,2038,S4,D4,301395,118000,BioLNG,0.154568
318,LNG_S3_2038,LNG,2038,S3,D4,235465,73000,LNG,0.153945
319,LNG_S3_2038,LNG,2038,S3,D4,235465,73000,BioLNG,0.155192

-------------------------------- combining dataframes-------------------------------- 

We can now discard vehicles_fuels_df , all the info is contained in vehicles_df

--------------------------------Combining fuels_df and vehicles_df--------------------------------

In [30]:
fuels_df.head(10)

,Fuel,Year,Emissions (CO2/unit_fuel),Cost ($/unit_fuel),Cost Uncertainty (±%)
0,B20,2023,3.048580,1.220845,0
32,Electricity,2023,0.000000,0.191791,0
48,HVO,2023,0.487624,1.814314,0
16,BioLNG,2023,0.378439,1.087817,0
64,LNG,2023,2.486188,1.011618,0
1,B20,2024,3.048580,1.246802,2
33,Electricity,2024,0.000000,0.184113,2
49,HVO,2024,0.487624,1.794763,2
17,BioLNG,2024,0.378439,1.081461,2
65,LNG,2024,2.486188,1.005708,2

In [31]:
# Create a new column named 'fuel_year'
fuels_df['Fuel_Year'] = fuels_df['Fuel'] + '_' + fuels_df['Year'].astype(str)

In [32]:
fuels_df.head(10)

,Fuel,Year,Emissions (CO2/unit_fuel),Cost ($/unit_fuel),Cost Uncertainty (±%),Fuel_Year
0,B20,2023,3.048580,1.220845,0,B20_2023
32,Electricity,2023,0.000000,0.191791,0,Electricity_2023
48,HVO,2023,0.487624,1.814314,0,HVO_2023
16,BioLNG,2023,0.378439,1.087817,0,BioLNG_2023
64,LNG,2023,2.486188,1.011618,0,LNG_2023
1,B20,2024,3.048580,1.246802,2,B20_2024
33,Electricity,2024,0.000000,0.184113,2,Electricity_2024
49,HVO,2024,0.487624,1.794763,2,HVO_2024
17,BioLNG,2024,0.378439,1.081461,2,BioLNG_2024
65,LNG,2024,2.486188,1.005708,2,LNG_2024

In [33]:
vehicles_df['Fuel_Year'] = vehicles_df['Fuel'] + '_' + vehicles_df['Year'].astype(str)

In [34]:
vehicles_df.head()

,ID,Vehicle,Year,Size,Distance,Cost ($),Yearly range (km),Fuel,Consumption (unit_fuel/km),Fuel_Year
0,BEV_S1_2023,BEV,2023,S1,D1,187000,102000,Electricity,0.893043,Electricity_2023
1,Diesel_S1_2023,Diesel,2023,S1,D4,85000,102000,B20,0.223016,B20_2023
2,Diesel_S1_2023,Diesel,2023,S1,D4,85000,102000,HVO,0.223016,HVO_2023
3,Diesel_S2_2023,Diesel,2023,S2,D4,104000,106000,B20,0.223852,B20_2023
4,Diesel_S2_2023,Diesel,2023,S2,D4,104000,106000,HVO,0.223852,HVO_2023

In [35]:
# Desired columns from fuels_df
desired_cols = ['Emissions (CO2/unit_fuel)', 'Cost ($/unit_fuel)', 'Cost Uncertainty (±%)','Fuel_Year']

# Merge on "Fuel_Year" with left join to keep all rows from vehicles_df
vehicles_fuels_df = vehicles_df.merge(fuels_df[desired_cols], on='Fuel_Year', how='left')

In [40]:
vehicles_fuels_df.head(30)

,ID,Vehicle,Year,Size,Distance,Cost ($),Yearly range (km),Fuel,Consumption (unit_fuel/km),Fuel_Year,Emissions (CO2/unit_fuel),Cost ($/unit_fuel),Cost Uncertainty (±%)
0,BEV_S1_2023,BEV,2023,S1,D1,187000,102000,Electricity,0.893043,Electricity_2023,0.000000,0.191791,0
1,Diesel_S1_2023,Diesel,2023,S1,D4,85000,102000,B20,0.223016,B20_2023,3.048580,1.220845,0
2,Diesel_S1_2023,Diesel,2023,S1,D4,85000,102000,HVO,0.223016,HVO_2023,0.487624,1.814314,0
3,Diesel_S2_2023,Diesel,2023,S2,D4,104000,106000,B20,0.223852,B20_2023,3.048580,1.220845,0
4,Diesel_S2_2023,Diesel,2023,S2,D4,104000,106000,HVO,0.223852,HVO_2023,0.487624,1.814314,0
5,BEV_S4_2023,BEV,2023,S4,D1,395636,118000,Electricity,0.900664,Electricity_2023,0.000000,0.191791,0
6,Diesel_S4_2023,Diesel,2023,S4,D4,151272,118000,B20,0.219827,B20_2023,3.048580,1.220845,0
7,Diesel_S4_2023,Diesel,2023,S4,D4,151272,118000,HVO,0.219827,HVO_2023,0.487624,1.814314,0
8,Diesel_S3_2023,Diesel,2023,S3,D4,118181,73000,B20,0.224082,B20_2023,3.048580,1.220845,0
9,Diesel_S3_2023,Diesel,2023,S3,D4,118181,73000,HVO,0.224082,HVO_2023,0.487624,1.814314,0
10,LNG_S1_2023,LNG,2023,S1,D4,100000,102000,LNG,0.165507,LNG_2023,2.486188,1.011618,0
11,LNG_S1_2023,LNG,2023,S1,D4,100000,102000,BioLNG,0.165159,BioLNG_2023,0.378439,1.087817,0
12,BEV_S2_2023,BEV,2023,S2,D1,272000,106000,Electricity,0.896800,Electricity_2023,0.000000,0.191791,0
13,LNG_S2_2023,LNG,2023,S2,D4,133000,106000,LNG,0.165239,LNG_2023,2.486188,1.011618,0
14,LNG_S2_2023,LNG,2023,S2,D4,133000,106000,BioLNG,0.167185,BioLNG_2023,0.378439,1.087817,0
15,BEV_S3_2023,BEV,2023,S3,D1,309090,73000,Electricity,0.898003,Electricity_2023,0.000000,0.191791,0
16,LNG_S4_2023,LNG,2023,S4,D4,193454,118000,LNG,0.167274,LNG_2023,2.486188,1.011618,0
17,LNG_S4_2023,LNG,2023,S4,D4,193454,118000,BioLNG,0.166088,BioLNG_2023,0.378439,1.087817,0
18,LNG_S3_2023,LNG,2023,S3,D4,151136,73000,LNG,0.164823,LNG_2023,2.486188,1.011618,0
19,LNG_S3_2023,LNG,2023,S3,D4,151136,73000,BioLNG,0.164684,BioLNG_2023,0.378439,1.087817,0
20,Diesel_S4_2024,Diesel,2024,S4,D4,155810,118000,B20,0.219827,B20_2024,3.048580,1.246802,2
21,Diesel_S4_2024,Diesel,2024,S4,D4,155810,118000,HVO,0.219827,HVO_2024,0.487624,1.794763,2
22,LNG_S2_2024,LNG,2024,S2,D4,136990,106000,LNG,0.165239,LNG_2024,2.486188,1.005708,2
23,LNG_S2_2024,LNG,2024,S2,D4,136990,106000,BioLNG,0.167185,BioLNG_2024,0.378439,1.081461,2
24,Diesel_S2_2024,Diesel,2024,S2,D4,107120,106000,B20,0.223852,B20_2024,3.048580,1.246802,2
25,Diesel_S2_2024,Diesel,2024,S2,D4,107120,106000,HVO,0.223852,HVO_2024,0.487624,1.794763,2
26,BEV_S1_2024,BEV,2024,S1,D1,177650,102000,Electricity,0.893043,Electricity_2024,0.000000,0.184113,2
27,LNG_S1_2024,LNG,2024,S1,D4,103000,102000,LNG,0.165507,LNG_2024,2.486188,1.005708,2
28,LNG_S1_2024,LNG,2024,S1,D4,103000,102000,BioLNG,0.165159,BioLNG_2024,0.378439,1.081461,2
29,LNG_S4_2024,LNG,2024,S4,D4,199258,118000,LNG,0.167274,LNG_2024,2.486188,1.005708,2

In [39]:
vehicles_fuels_df.columns
print(len(vehicles_fuels_df.columns))

13

-------------------------------- combining dataframes-------------------------------- 

We can now discard fuels_df , all the info is contained in vehicles_df
so far we have discarded :
vehicles_fuels_df
fuels_df

-------------------------------- Cost calculation-------------------------------- 

Calculating costs

In [41]:
# New column name
new_col_name = 'fuel_costs($/yr)'

# Create the new column by multiplying col1 and col2
vehicles_fuels_df[new_col_name] = vehicles_fuels_df['Yearly range (km)'] * vehicles_fuels_df['Consumption (unit_fuel/km)'] * vehicles_fuels_df['Cost ($/unit_fuel)']

vehicles_fuels_df.head()

,ID,Vehicle,Year,Size,Distance,Cost ($),Yearly range (km),Fuel,Consumption (unit_fuel/km),Fuel_Year,Emissions (CO2/unit_fuel),Cost ($/unit_fuel),Cost Uncertainty (±%),fuel_costs/yr
0,BEV_S1_2023,BEV,2023,S1,D1,187000,102000,Electricity,0.893043,Electricity_2023,0.000000,0.191791,0,17470.316221
1,Diesel_S1_2023,Diesel,2023,S1,D4,85000,102000,B20,0.223016,B20_2023,3.048580,1.220845,0,27771.332789
2,Diesel_S1_2023,Diesel,2023,S1,D4,85000,102000,HVO,0.223016,HVO_2023,0.487624,1.814314,0,41271.347204
3,Diesel_S2_2023,Diesel,2023,S2,D4,104000,106000,B20,0.223852,B20_2023,3.048580,1.220845,0,28968.591064
4,Diesel_S2_2023,Diesel,2023,S2,D4,104000,106000,HVO,0.223852,HVO_2023,0.487624,1.814314,0,43050.608658